.Header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: var(--rcd-header-height);
    padding-right: 121px;
    background-color: var(--rcd-bg-col);
}

.ProfileContainer {
    display: flex;
    flex-direction: row;
}

.TextsContainer {
    display: flex;
    flex-direction: column;
    padding-right: 14px;
}

.UserName {
    color: var(--rcd-text-primary-col);
}

.Role {
    padding-top: 5px;
    color: var(--rcd-text-secondary-col);
}

.More {
    align-self: center;
}
