.Navbar {
    display: block;
    position: fixed;
    min-height: 100vh;
    height: 100%;
    width: var(--rcd-sidenav-height);
    background-color: var(--rcd-sidenav-bg-col);
}

.MainLogoContainer {
    width: 100px;
    height: 100px;
    display: grid;
    place-content: center;
    user-select: none;
}
